[Desktop Entry]
Type=Application
Name=Pulsar OS Desktop Recovery Icon Setup
Comment=Ensures the installer and recovery icon is present on the desktop

Exec=/usr/bin/pulsaros-recovery-desktop-setup
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
