[Desktop Entry]
Type=Application
Name=Pulsar OS Recovery
Name[es]=Recuperación de Pulsar OS
Comment=Recover or install your system
Comment[es]=Recupera o instala tu sistema
Exec=/usr/bin/pulsaros-recovery
Icon=distributor-logo
Terminal=false
Categories=System;Utility;
X-GNOME-Autostart-enabled=true
NoDisplay=true
