Package: pulsaros-update
Version: 1.0.5
Section: admin
Priority: optional
Architecture: all
Maintainer: Jaime <info@inled.es>
Depends: python3, python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, policykit-1 | polkitd | pkexec, sudo, xdg-user-dirs
Recommends: pulsaros-recovery, sayri, pulsaros-hibernate, pulsar-pear-sound-theme, pulsaros-bootsound
Description: Pulsar OS Update & Migration Assistant
 Helper application for updating and migrating existing Pulsar OS installations
 to the latest standards: native Recovery Assistant in Rust, system language and
 app naming preferences, Sayri AI voice assistant updates, hibernation subsystem
 setup, sound themes, Spotlight launcher and system enhancements.
