[Unit]
Description=Tube OS Gateway
After=network.target

[Service]
RuntimeDirectory=tubeos casaos
RuntimeDirectoryMode=0755
LogsDirectory=casaos tubeos
ExecStartPre=/bin/mkdir -p /var/run/tubeos /run/tubeos /var/run/casaos /run/casaos /var/log/casaos /var/log/tubeos /var/lib/tubeos/db /var/lib/tubeos/conf /var/lib/casaos /etc/tubeos /etc/casaos
ExecStart=/usr/bin/tubeos-gateway
PIDFile=/var/run/tubeos/gateway.pid
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
