Package: pulsaros-theme
Version: 1.0.29
Section: x11
Priority: optional
Architecture: all
Maintainer: Jaime <info@inled.es>
Depends: gnome-themes-extra
Description: GTK Themes and Icons for Pulsar OS.
 Includes MacTahoe GTK theme and icon theme compiled and packaged for Pulsar OS.
