Package: pulsaros-spotlight-launcher
Version: 2.0.19
Section: gnome
Priority: optional
Architecture: amd64
Maintainer: Jaime <info@inled.es>
Depends: gnome-shell, python3, python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, gir1.2-tsparql-3.0 | gir1.2-tracker-3.0, localsearch | tracker-miner-fs, wl-clipboard
Recommends: ydotool
Provides: spotlight-gtk, spotlight-python, pulsaros-spotlight
Replaces: spotlight-gtk, spotlight-python, pulsaros-spotlight
Conflicts: spotlight-gtk, spotlight-python, pulsaros-spotlight
Description: Spotlight search for Pulsar OS
 Full-text file and application search powered by
 GNOME Tracker/TinySPARQL. Provides a Spotlight-like
 search window for finding files, documents, images,
 music, video, and installed applications.
