Package: pulsaros-bootsound
Version: 1.0.114
Section: utils
Priority: optional
Architecture: all
Depends: alsa-utils
Maintainer: Inled Pulsar OS Team <info@inled.es>
Description: Plays a startup sound at boot using aplay.
 Adds systemd service to play the official startup sound during system boot phase.
