html, body {
  padding: 0;
  margin: 0;
  background-color: transparent !important;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.new__bg {
  height: 100vh;
  width: 100vw;
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello__div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 900px;
}
.hello__svg {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 32px;
  stroke-dasharray: 5800px;
  stroke-dashoffset: 5800px;
  animation: anim__hello 6s cubic-bezier(0.25, 1, 0.5, 1) infinite;
  width: 100%;
}

@keyframes anim__hello {
  0% {
    stroke-dashoffset: 5800;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 5800;
    opacity: 0;
  }
}
