[Desktop Entry]
Type=Application
Version=1.0
Name=Install Pulsar OS
Comment=Install Pulsar OS Recovery and Setup Assistant
Exec=pulsaros-recovery
Icon=pulsaros-recovery
Terminal=false
Categories=System;Settings;
StartupNotify=true
