[Desktop Entry]
Type=Application
Version=1.0
Name=Install Pulsar OS
Comment=Install Pulsar OS Recovery and Setup Assistant
Exec=pulsaros-recovery
Icon=/usr/share/pulsaros-recovery/logo.png
Terminal=false
Categories=System;Settings;GTK;
StartupNotify=true
