[Desktop Entry]
Type=Application
Version=1.0
Name=Install Pulsar OS
Name[es]=Instalar Pulsar OS
Name[fr]=Installer Pulsar OS
Name[de]=Pulsar OS installieren
Name[it]=Installa Pulsar OS
Name[pt]=Instalar o Pulsar OS
Name[zh_CN]=安装 Pulsar OS
Name[ja]=Pulsar OS をインストール
Name[ru]=Установить Pulsar OS
Name[ar]=تثبيت Pulsar OS
GenericName=System Installer & Recovery
GenericName[es]=Instalador y Recuperación del Sistema
GenericName[fr]=Installateur et récupération du système
GenericName[de]=System-Installations- & Wiederherstellungsassistent
GenericName[it]=Installatore e ripristino del sistema
GenericName[pt]=Instalador e Recuperação do Sistema
GenericName[zh_CN]=系统安装与恢复
GenericName[ja]=システムインストーラーと復元
GenericName[ru]=Установка и восстановление системы
GenericName[ar]=مثبت واسترداد النظام
Comment=Install or recover Pulsar OS on your computer
Comment[es]=Instala o recupera Pulsar OS en tu ordenador
Comment[fr]=Installez ou dépannez Pulsar OS sur votre ordinateur
Comment[de]=Pulsar OS auf Ihrem Computer installieren oder wiederherstellen
Comment[it]=Installa o ripristina Pulsar OS sul tuo computer
Comment[pt]=Instale ou recupere o Pulsar OS no seu computador
Comment[zh_CN]=在您的计算机上安装或恢复 Pulsar OS
Comment[ja]=お使いのコンピューターに Pulsar OS をインストールまたは復元します
Comment[ru]=Установка или восстановление Pulsar OS на вашем компьютере
Comment[ar]=قم بتثبيت أو استرداد Pulsar OS على جهاز الكمبيوتر الخاص بك
Exec=pulsaros-recovery
Icon=/usr/share/pulsaros-recovery/logo.png
Terminal=false
Categories=System;Settings;GTK;
Keywords=install;recovery;installer;setup;backup;restore;instalar;recuperar;configurar;copia;restaurar;installer;installation;wiederherstellung;ripristino;安装;インストール;установка;تثبيت;
StartupNotify=true
