Package: pulsaros-plymouth
Version: 1.0.115
Section: misc
Priority: optional
Architecture: all
Maintainer: Jaime <info@inled.es>
Depends: plymouth, plymouth-themes
Replaces: plymouth, debconf
Description: Plymouth boot splash theme for Pulsar OS.
 Packages the macOS-like boot splash screen and replaces default Debian logos.
