[Desktop Entry]
Name=Pulsar Spotlight
Name[es]=Spotlight de Pulsar OS
Comment=Spotlight search for Pulsar OS
Comment[es]=Búsqueda Spotlight para Pulsar OS
Exec=/usr/bin/pulsaros-spotlight
Icon=edit-find
Type=Application
Categories=Utility;
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
