[Desktop Entry]
Name=Ajustes del Sistema
GenericName=Ajustes
Comment=Ajustes del Sistema de Pulsar OS al estilo macOS
Exec=/usr/bin/pulsaros-settings
Icon=preferences-system
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;
Keywords=Ajustes;Configuración;Preferencias;Fondo;Pantalla;Teclado;Sonido;macOS;Pulsar;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
