[Unit]
Description=Pulsar OS - Restore graphical session after hibernate resume
After=systemd-hibernate.service systemd-suspend-then-hibernate.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/pulsaros/resume-session
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=sleep.target
